:root{

  //grosseur des textes

  --fz-normal: 1rem;

  //titre

  --fz-h1: 2rem;
  --fz-h2: 2.5rem;
  --fz-h3: 1.5rem;
  --fz-h4: 1.75rem;

  //Hauteur des lignes

  --lh-extra-thin: 1;
  --lh-thin: 1.2;
  --lh-normal: 1.5;
  --lh-medium: 1.8;
  --lh-large: 2;
  --lh-extra-large: 2.4;

  //Font family

  --ff-normal: Montserrat;
  --ff-titre: Sarabun;
}